* {
    margin: 0;
    padding: 0;
    list-style-type: 0;
    text-decoration: none;
}
.main-container {
    
    padding: 20px;
    border: 1px solid black;
    min-height: 100vh;
}

.header {
    /* border: 1px solid black; */
    /* padding: 15px; */
    display: flex;
    justify-content: space-between;
    background-color: darkgrey;
    margin-bottom: 200px;

}

.header > h2 {
    /* flex-grow: 1.5; */
    padding: 15px;
    margin-right: 350px;
    padding-top: 23px;
}

.header > a {
    /* border: 1px solid black; */
    width: 90px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;

}

.header > a:hover {
    background-color: white;
    color: blue;
}

.main {
    /* border: 1px solid black; */
    /* margin-top: 90px; */
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}

.threeDiv {
    /* border:  1px solid black; */
    width: 28%;
    min-height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: darkgray ;
}

.threeDiv > .icon {
    font-size: 60px;
    align-self: center;
    margin-bottom: 20px;
}
.threeDiv > h2 {
    margin-bottom: 10px;
}

.footer {
    /* margin-top: 200px; */
    /* border: 1px solid black; */
    width: 27%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer > p {
    /* border: 1px solid black; */
    height: 40px;
    width: 40px;
    text-align: center;
    background-color: darkgray ;

}

.footer > p > * {
    font-size: 30px;
}