* {
    margin: 0;
    padding: 0;
    list-style-type: 0;
    text-decoration: none;
}


.main-container {
    background-image: url("bg2.jpg");

    padding: 20px;
    /* border: 1px solid black; */
    min-height: 100vh;

}

.header {
    /* border: 1px solid black; */
    /* padding: 15px; */
    display: flex;
    justify-content: space-between;
    background-color: 	rgba(211,211,211,1);
    margin-bottom: 200px;
   

}

.header > div {
    /* flex-grow: 1.5; */
    padding: 15px;
    margin-right: 350px;
    padding-top: 23px;
    /* border: 1px solid black; */
    display: flex;
    width: 7%;
    justify-content: space-between;
}

.header > div > p {
    /* border: 1px solid black; */
    padding-top: 5px;
}



.header > a {
    /* border: 1px solid black; */
    width: 90px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;

}

.header > a:hover {
    background-color: white;
    color: blue;
}

.main {
    /* border: 1px solid black; */
    /* margin-top: 90px; */
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}

.threeDiv {
    /* border:  1px solid black; */
    width: 28%;
    min-height: 300px;
    padding: 20px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:  rgba(245,245,245,0.75) ;
}

.threeDiv > .icon {
    font-size: 60px;
    align-self: center;
    margin-bottom: 20px;
}
.threeDiv > h2 {
    margin-bottom: 10px;
}

.footer {
    /* margin-top: 200px; */
    /* border: 1px solid black; */
    width: 27%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer > p {
    /* border: 1px solid black; */
    height: 40px;
    width: 40px;
    text-align: center;
    background-color: rgba(245,245,245,0.75) ;
    padding: 10px;

}

.footer > p > * {
    font-size: 30px;
}